<h1>Advertisement#show</h1>
<p>Find me in app/views/advertisements/show.html.erb</p>
<h1><%= @advertisement.title %></h1>
 <p><%= @advertisement.copy %></p>
 <p><strong>Price (in Euros):</strong> <%= @advertisement.price %></p>
